canvas{
    border: 5px solid rgb(56, 56, 56);
    display: block;
    margin: 0 auto;
}

body{
    background-color: black;
    text-align: center;
}

h1{
    font-family: Comic Sans MS;
    color: darkslateblue;
    font-size: 3em;
}

#sfxButton{
    margin-top: 10px;
    background: url('./images/sfx.png');
    width: 89px;
    height: 34px;
    border: none;
    outline: none;
}

#musicButton{
    margin-top: 10px;
    background: url('./images/music.png');
    width: 89px;
    height: 34px;
    border: none;
    outline: none;
}

#sfxButton:hover, #musicButton:hover{
    filter: brightness(0.8);
}

#sfxButton:active, #musicButton:active{
    filter: brightness(0.6);
}
