canvas{
    border: 5px solid rgb(56, 56, 56);
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 10px darkslateblue;
}

body{
    background-color: black;
    text-align: center;
    color: darkslateblue;
}

h1{
    font-family: Comic Sans MS;
    color: darkslateblue;
    font-size: 3em;
}

#leaderboard {
    background: rgb(30, 30, 30);
    padding: 15px 10px;
    border-radius: 16px;
    color: darkslateblue;
    box-shadow: 0px 0px 25px 5px darkslateblue;
    border: 3px solid darkslateblue;
    font-size: 1.1em;
    font-family: Comic Sans MS;
    letter-spacing: 0.5px;
    height: fit-content;
    min-width: 240px; /* Minimum width for the leaderboard */
    max-width: 320px; /* Limit the leaderboard width */
    margin: 0 auto;   /* Center the leaderboard */
}

#leaderboard table {
    border-collapse: collapse;
    table-layout: fixed; /* Ensures column widths are respected */
    width: 100%;         /* Table fills the container */
}

#leaderboard colgroup col.col-rank {
    width: 30px;
}
#leaderboard colgroup col.col-name {
    width: 60px;
}
#leaderboard colgroup col.col-score {
    width: 90px;
}
/* Add more col selectors as needed for more columns */

#leaderboard tbody {
    display: block;
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: auto;
    scrollbar-color: darkslateblue rgb(30, 30, 30);
}

#leaderboard tbody::-webkit-scrollbar {
    width: 8px;
    background: rgb(30, 30, 30);
}

#leaderboard tbody::-webkit-scrollbar-thumb {
    background: darkslateblue;
    border-radius: 6px;
}

#leaderboard thead, #leaderboard tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    color: darkslateblue;
}
th{
    text-align: center;
    font-family: Comic Sans MS;
    color: darkslateblue;
    font-size: 1.2em;
    border: none;
}

tbody{
    text-align: center;
}

#sfxButton{
    margin-top: 12px;
    background: url('./images/sfx.png');
    width: 89px;
    height: 34px;
    border: none;
    outline: none;
}

#musicButton{
    margin-top: 12px;
    background: url('./images/music.png');
    width: 89px;
    height: 34px;
    border: none;
    outline: none;
}

#sfxButton:hover, #musicButton:hover{
    filter: brightness(0.8);
}

#sfxButton:active, #musicButton:active{
    filter: brightness(0.6);
}